<div class="container">
  <div class="card">
    <!-- card header -->
    <div class="card-header">
      <h2>Registration Form</h2>
    </div>
    <!-- card body  -->
    <div class="card-body">
      <form class="form" #myForm="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit(myForm)">
        <!-- first name form field -->
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
          <mat-error *ngIf="(registerFormControl.firstName.touched) && registerFormControl.firstName.errors?.required">
            First Name is required
          </mat-error>
          <mat-error *ngIf="(registerFormControl.firstName.touched) && registerFormControl.firstName.errors?.pattern">
            Only alphabets are allowed
          </mat-error>
        </mat-form-field>

        <!-- last name form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" />
          <mat-error *ngIf="(registerFormControl.lastName.touched) && registerFormControl.lastName.errors?.required">
            Last Name is required
          </mat-error>
          <mat-error *ngIf="(registerFormControl.lastName.touched) && registerFormControl.lastName.errors?.pattern">
            Only alphabets are allowed
          </mat-error>
        </mat-form-field>

        <!-- mobile number form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Mobile Number</mat-label>
          <input type="text" matInput formControlName="mobileNumber" />
          <mat-error
            *ngIf="(registerFormControl.mobileNumber.touched) && registerFormControl.mobileNumber.errors?.required">
            Mobile Number is required
          </mat-error>
          <mat-error
            *ngIf="(registerFormControl.mobileNumber.touched) && registerFormControl.mobileNumber.errors?.pattern">
            Only numbers are allowed
          </mat-error>
        </mat-form-field>

        <!-- email form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" />
          <mat-error *ngIf="(registerFormControl.email.touched) && registerFormControl.email.errors?.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="(registerFormControl.email.touched) && registerFormControl.email.errors?.email">
            Enter valid email
          </mat-error>
        </mat-form-field>

        <!-- DOB form field -->
        <mat-form-field class="example-full-width">
          <mat-label>DOB</mat-label>
          <input matInput formControlName="dob" [matDatepicker]="picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="(registerFormControl.dob.touched) && registerFormControl.dob.errors">
            Enter / Select valid date
          </mat-error>
        </mat-form-field>

        <!-- address form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" />
        </mat-form-field>

        <!-- city form field -->
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>

        <!-- state form field -->
        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" />
        </mat-form-field>

        <!-- password form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="text" matInput formControlName="password" />
          <mat-error *ngIf="(registerFormControl.password.touched) && registerFormControl.password.errors?.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="(registerFormControl.password.touched) && registerFormControl.password.errors?.minlength">
            Minimum 8 characters needed
          </mat-error>
        </mat-form-field>

        <!-- confirm password form field -->
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <input type="text" matInput formControlName="confirmPassword" />
          <mat-error
            *ngIf="(registerFormControl.confirmPassword.touched) && registerFormControl.confirmPassword.errors?.required">
            Confirm Password is required
          </mat-error>
          <mat-error
            *ngIf="(registerFormControl.confirmPassword.touched) && registerFormControl.confirmPassword?.errors?.mustMatch">
            Password and confirm password must match
          </mat-error>
        </mat-form-field>

        <div class="form-group">
          <button type="submit" [disabled]="registerForm && registerForm.invalid" mat-raised-button
            color="primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>